<?xml version="1.0"?>
<robot name="inmoov-i2" xmlns:xacro="http://www.ros.org/wiki/xacro">

    
    <xacro:include filename="inmoov_actuators_config.xacro"/>

    <!-- Import ROS2 Control Configuration -->
    <xacro:include filename="inmoov_actuators_config_ros2_control.xacro"/>

    <!-- Import Sensors Configuration -->
    <xacro:include filename="inmoov_sensors_config.xacro"/>

</robot>