<?xml version="1.0"?>
<robot name="inmoov-i2" xmlns:xacro="http://www.ros.org/wiki/xacro">

    
    <xacro:include filename="inmoov_actuators_config.xacro"/>

    <!-- ros2_control URDF fragments live under description/ros2_control/ (see config/hardware/active.yaml + generator). -->

    <!-- Import Sensors Configuration -->
    <xacro:include filename="inmoov_sensors_config.xacro"/>

</robot>