<?xml version="1.0"?>

<xacro:macro name="servo_motor" params="name joint_name board pin type min_limit max_limit default_pos enabled:=false">
    <actuator name="${name}" enabled="${enabled}">
        <joint name="${joint_name}"/>
        <hardware>
            <board name="${board}"/>
            <pin value="${pin}"/>
            <type value="${type}"/>
            <range_degrees value="${type}"/>
            <limit_lower value="${min_limit}"/>
            <limit_upper value="${max_limit}"/>
            <default_position value="${default_pos}"/>
        </hardware>
    </actuator>
</xacro:macro>